/* Base styles */
* {
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
}

body {display: block;}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-bottom: 10px;
  text-align: center;
}

#section1 {
  background-color: gray;
  color: black;
  border: 1px solid black;
  position: relative;
  float: left;
  margin-bottom: 10px;
}
#section2 {
  background-color: gray;
  color: black;
  border: 1px solid black;
  position: relative;
  float: left;
  margin-bottom: 10px;
}
#section3 {
  background-color: gray;
  color: black;
  border: 1px solid black;
  position: relative;
  float: left;
  margin-bottom: 10px;
}

.section_title {
  border: 1px solid black;
  position: ;
  top: 0px;
  right: 0px;
  display: inline-block;
}

#title1 {background-color: yellow; color: black; border: 1px solid black;}
#title2 {background-color: orange; color: black; border: 1px solid black;}
#title3 {background-color: red; color: black; border: 1px solid black;}

p {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* 12-col grid Responsive framework */
.row {
  width: 100%;
}
/* Desktop */
@media (min-width: 992px) {
  #section1 {
    width: 32%;
    height: auto;
  }
  #section2 {
    width: 32%;
    height: auto;
  }
  #section3 {
    width: 32%;
    height: auto;
  }

}


/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  #section1 {
    width: 49%;
    height: auto;
  }
  #section2 {
    width: 49%;
    height: auto;
  }
  #section3 {
    width: 98%;
    height: auto;
  }

}


/* Smartphone */
@media (max-width: 767px) {
  #section1 {
    width: 98%;
    height: auto;
  }
  #section2 {
    width: 98%;
    height: auto;
  }
  #section3 {
    width: 98%;
    height: auto;
  }

}
